extends layout

block head
  title= config.app_name

block content
  if req.query.intro === "true"
    div.modal.fade#intro(tabindex="-1", role="dialog")
      div.modal-dialog.modal-content
        div.modal-header
          if req.user
            h5.modal-title Welcome to #{config.app_name}
          else
            h5.modal-title This is #{config.app_name}
        div.modal-body
          if req.user
            p Welcome to #{config.app_name}, #{req.user.username}. Here we'll give you a short tour of the homepage.
            
            p On the homepage (you're on it right now), you'll find three buttons: New List, Explore, and My Lists. Obviously, you can click on New List to make a new list. Click on Explore to explore all the public lists others have created. Click on My Lists to view your own lists and account. 
            
            p If you click on My Lists or New List, you will be asked to login if you aren't already. However anyone's profile and public lists can be viewed by anyone, even if they aren't logged in.
            
            p In the bottom left corner you'll find a hamburger menu (three lines). Clicking on it will reveal a menu that contains links to sign out, go home, create a list, get help, contact us, and more. It is accessible from anywhere on the website.
          else
            p This is #{config.app_name}. #{config.app_description} 
              i #{config.app_slogan}
            
            p Go ahead and create an account by clicking the button below. Once you have your account created, you can make your own public and private lists, as well as vote on other peoples' lists. If you don't want to create an account now, that's fine - you can still explore everyone else's lists.
          
          p Remember, if you need any more help, you can find the 
            a(href="/help") help FAQ 
            | in the menu (at the bottom left).
            
          if req.user
            p We're looking forward to seeing all of your awesome lists! (But if you're just using this site for private lists, that's fine too.)
          
        div.modal-footer
          if !req.user
            button.btn.btn-outline-secondary(type="button", data-dismiss="modal") Close
            a(href="/login")
              button.btn.btn-outline-secondary(type="button") Sign in
            a(href="/register")
              button.btn.btn-success(type="button") Create an account
          else
            button.btn.btn-outline-success(type="button", data-dismiss="modal") Close
          
  div.home-center
    h1= config.app_name
    div.top-pad.container.row
      div.col-sm
        a(href="/new")
          div.home-button [+] New List
      div.col-sm
        a(href="/explore")
          div.home-button Explore Lists
      div.col-sm
        a(href="/user")
          div.home-button My Lists
          
block js
  script.
    $(document).ready(function() {
      $('#intro').modal();
      $('#intro').on('hidden.bs.modal', function(e) {
        window.history.pushState({},"", location.href.replace("intro=true", ""));
      })
      window.onpopstate = function(e){
        if(location.href.search(/intro=true/i) != -1) { 
          $('#intro').modal();
        }
      };
    });
            
