extends layout

block head
  if list.public_list || (req.user && req.user._id.toString() == list.author._id.toString())
    title #{list.name} - #{config.app_name}
  else 
    title #{config.app_name}

block content
  div.alert.alert-danger.alert-dismissible.fade.alert-fixed#alert-ajax-error
        strong That didn't work...
        |  Please check your internet connection, reload this page, and try again.
        button.close(type="button", onclick="alert_close(this)") 
          span(aria-hidden="true") &times;

  //div.alert.alert-danger.alert-dismissible.fade.alert-fixed#alert-ajax-404
        //strong We could not contact our servers. 
        //| Please check your internet connection and try again.
        //button.close(type="button", onclick="alert_close(this)") 
          //span(aria-hidden="true") &times;

  div.home-center
    if list.public_list || (req.user && req.user._id.toString() == list.author._id.toString())
      h1 #{list.name}
      

      if req.user && req.user._id.toString() == list.author._id.toString()
        p
          if list.public_list
            span.badge.badge-success public
          else 
            span.badge.badge-info private
            
          |  
            
          if list.votable
            span.badge.badge-info item positions based on votes
          else 
            span.badge.badge-info item positions fixed
          
          |  
          
          if list.allow_submissions
            span.badge.badge-info submissions allowed
            |  
            if list.moderate_submissions
              span.badge.badge-info submissions premoderated
            else 
              span.badge.badge-info all submissions accepted
          else 
            span.badge.badge-info submissions blocked
          
          |  
          
          span.badge.badge-info #{list.list_type} list
            
          a(href="/" + list.url_id + "/settings") 
            span.badge.badge-dark change settings
            
      if req.user
        if !(list.stars.indexOf(req.user._id) > -1)
          button.btn.btn-sm.btn-light#favorite-btn(type="button", onclick="star('star')") 
            i.fa.fa-star#favorite-star
            span#favorite-text  Favorite 
            span.badge.badge-pill.badge-dark#favorite-count= list.stars.length
        else
          button.btn.btn-sm.btn-warning#favorite-btn(type="button", onclick="star('unstar')") 
            i.fa.fa-star#favorite-star
            span#favorite-text  Favorited 
            span.badge.badge-pill.badge-light#favorite-count= list.stars.length
      else 
        a(href="/login?next=" + encodeURIComponent(req.url))
          button.btn.btn-sm.btn-light#favorite-btn(type="button") 
            i.fa.fa-star#favorite-star
            span#favorite-text  Favorite 
            span.badge.badge-pill.badge-dark#favorite-count= list.stars.length
      
      hr
      p #{list.description}
          
      
      hr
      if list.contents.length == 0
        p This list is empty. 
          a(href="/" + list.url_id + "/add") Add some items.
      else
        div.accordion#list_accordion
          each item, position in list.contents
            div(id = "iheading" + position)
              h5
                button.list-item-header(type="button", data-toggle="collapse", data-target="#icollapse" + position)
                  small.text-muted #{position + 1} 
                  span #{item.name} 
                  small.text-muted(id="ivotec_" + position)= item.votes.length
                  small.text-muted  
                    i.fa.fa-chevron-up
            div.collapse.list-item-card(id= "icollapse" + position, data-parent= "#list_accordion")
              span(id="ivotec2_" + position) #{item.votes.length}
              |  Votes. 
              if req.user
                if (item.votes.indexOf(req.user._id) < 0)
                  button.btn.btn-sm.btn-link(type="button", onclick="upvote(this)", data-action="upvote", data-item-id=item.id, data-item-position=position)
                    i.fa.fa-arrow-up.vote-icon
                    span(id="ivotetext" + position)  Upvote
                else
                  button.btn.btn-sm.btn-link(type="button", onclick="upvote(this)", data-action="downvote", data-item-id=item.id, data-item-position=position)
                    i.fa.fa-arrow-down.vote-icon
                    span(id="ivotetext" + position)  Upvoted
              else
                a(href="/login?next=" + encodeURIComponent(req.url))
                  button.btn.btn-sm.btn-link(type="button")
                    i.fa.fa-arrow-up
                    |  Upvote
            
        hr
        if (req.user && req.user._id.toString() == list.author._id.toString())
          p
            a(href="/" + list.url_id + "/add") Add more items.
        else if list.allow_submissions
          p
            a(href="/" + list.url_id + "/add") Submit an item.
        hr
        h3 Comments
        p Comments coming soon!
        hr
          
    else
      h1 Access Denied
      if !req.user
        p Sorry, this list is private so you cannot access it. If this is your list, try signing in and then trying again.
        p
          a(href="/login") Sign in
      else
        p Sorry, this list is private so you cannot access it.
        
      p
        a(href="/help") Get help
    p
      a(href="/") Go Home
      
block js
  script(src="/javascripts/list_detail.js")
 
