extends layout

block head
  title #{list.name} - #{config.app_name}

block content
  div.home-center
    if list.public_list || (req.user && req.user._id.toString() == list.author._id.toString())
      h1 #{list.name}

      if req.user && req.user._id.toString() == list.author._id.toString()
        p
          if list.public_list
            span.badge.badge-success public
          else 
            span.badge.badge-info private
            
          |  
            
          if list.votable
            span.badge.badge-info item positions based on votes
          else 
            span.badge.badge-info item positions fixed
          
          |  
          
          if list.allow_submissions
            span.badge.badge-info submissions allowed
            |  
            if list.moderate_submissions
              span.badge.badge-info submissions premoderated
            else 
              span.badge.badge-info all submissions accepted
          else 
            span.badge.badge-info submissions blocked
          
          |  
          
          span.badge.badge-info #{list.list_type} list
            
          a(href="/" + list.url_id + "/settings") 
            span.badge.badge-dark change settings
      
      p #{list.description}
          
      
      if list.contents.length == 0
        p This list is empty. 
          a(href="/" + list.url_id + "/add") Add some items.
      else
        h3 List contents
        hr
        ul
          each item in list.contents
            li= item.name
        hr
        p
          a(href="/" + list.url_id + "/add") Add more items.
    else
      h1 Access Denied
      if !req.user
        p Sorry, this list is private so you cannot access it. If this is your list, try signing in and then trying again.
        p
          a(href="/login") Sign in
      else
        p Sorry, this list is private so you cannot access it.
        
      p
        a(href="/help") Get help
    p
      a(href="/") Go Home
 
