extends layout

block head
  if (list.allow_submissions && list.public_list) || (req.user._id.toString() == list.author._id.toString())
    title Add items to #{list.name}
  else 
    title Add items to list

block content
  div.home-center
    if req.user._id.toString() == list.author._id.toString()
      if req.query.first == "true" && list.contents.length == 0
        h1 Finish creating 
          span.text-info #{list.name}
          
        p Your list has been created. Now you just need to add a few items to it!
        
        if list.public_list
          p Your list will be published as soon as you add at least one item to it.
      else
        h1 Add to 
          span.text-info #{list.name}
      
    else if list.allow_submissions && list.public_list
      h1 Submit to 
        span.text-info #{list.name}
      
    else
      h1 Sorry, 
      p This list is not accepting submissions right now.
    
      if req.user
        p
          a(href="/login") Sign in
      p
        a(href="/help") Get help
        
    if (list.allow_submissions && list.public_list) || (req.user._id.toString() == list.author._id.toString())
      p Add as many items as you want below. Click on the x at the right of an item to remove that item.
    
      form(action=list.url + "/add", method="post")
        div#items
          div.item.form-group(id=list.contents.length.toString())
            label.badge.badge-dark Item ##{list.contents.length + 1}
            div.input-group
              input.form-control(required="true", type="text", name=list.contents.length.toString(), placeholder="Item name")
              div.input-group-append
                button.input-group-text(type="button", onclick="remove(this)") &times;
            
        p
          button.btn.btn-outline-success(type="button", onclick="add()") [+] Another item
        button.btn.btn-primary(type="submit") Save items
      
      if req.query.first == "true"
        p
          a(href="/user") I'll finish the list later.
    
    p
      a(href="/") Go Home
      
block js
  script(src="/javascripts/list_add_form.js")
 
 
